/* reset default styles */

*,
*:before,
*:after {
  box-sizing: inherit;
  /* position: relative; */
}

html {
  box-sizing: border-box;
  font: 62.5% "Source Sans Pro", sans-serif;
}

body {
  margin: 0px;
  line-height: 1.3;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

a,
p,
li,
button,
div {
  font-size: 1.4rem;
}
a:hover {
  cursor: pointer;
  text-decoration: underline dotted;
}

small {
  font-size: 1.2rem;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border-radius: 0;
  background: transparent;
}

/* app container styling */
body {
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  color: #e4e4e4;
}
.banner {
  font-size: 16rem;
  color: #005cc1;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 20px;
  border: 1px solid #005cc1;
  background-color: #a8c3bc;
}

.mainSection {
  margin-bottom: 5rem;
}

.formFrame {
  margin: 1rem 1rem;
  color: black;
  background: #005cc1;
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

/* button options */
.btnMain {
  color: #e4e4e4;
  background: rgb(16, 162, 123);
  border: 1px solid rgb(0, 255, 55);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  height: 3.5rem;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.btnMain:after {
  content: "<<";
  position: absolute;
  opacity: 0;
  top: 0.5rem;
  right: -20px;
  transition: 0.5s;
}

.btnMain:hover,
.btnMain:focus {
  padding-right: 24px;
  padding-left: 8px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.btnMain:hover:after {
  opacity: 1;
  right: 50px;
}

.btnSecondary {
  color: #e4e4e4;
  background: rgba(223, 31, 31, 0.848);
  border: 1px solid rgb(255, 0, 0);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  height: 3.5rem;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.btnSecondary:after {
  content: "<<";
  position: absolute;
  opacity: 0;
  top: 0.5rem;
  right: -20px;
  transition: 0.5s;
  box-shadow: 0 10px 200px -8px rgba(0, 0, 0, 0.7);
}

.btnSecondary:focus {
  padding-right: 24px;
  padding-left: 8px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.btnSecondary:hover:after {
  opacity: 1;
  right: 50px;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createChar {
  max-width: 25em;
  width: 100%;
  align-self: center;
}

.customizeChar {
  max-width: 30rem;
  width: 100%;
  align-self: center;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
/* create character styles */
.formBox {
  display: flex;
  flex-direction: column;
}

.createList {
  max-width: 50em;
  width: 100%;
  align-self: center;
}

.formFields {
  width: 100%;
  display: flex;
  margin-bottom: 0.2rem;
}

.card {
  color: black;
  background: #f3f3f3;
  padding: 2rem;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

.createCharFields label {
  min-width: 8rem;
  width: 9rem;
}

.errorMsg {
  color: red;
  margin-left: 1rem;
  font-size: 1.1rem;
  padding-top: 0.2rem;
}

.entry {
  border: 2px dotted rgba(22, 22, 22, 0.5);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: black;
  background-color: rgba(42, 210, 175, 1);
  margin: 1rem 0px;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}
.highlighted {
  background-color: rgba(223, 31, 31, 0.5);
}

.entrydetails {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.3rem 0.25rem;
  border: 5px groove #005cc1;
  white-space: nowrap;
}

.recallentrydetails {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.3rem 0.25rem;
  border: 5px groove #005cc1;
}

.recallEntry {
  border: 2px dotted rgba(22, 22, 22, 0.5);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: black;
  background-color: rgba(42, 210, 175, 1);
  margin: 1rem 0px;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

#recallcontainer {
  padding: 2rem;
  border: 2px solid #d4fc79;
  border-radius: 2rem;
  background: linear-gradient(to right, #f0c27b, #4b1248);
  height: 80vh;
  overflow: hidden;
  text-align: justify;
}
.scrollbox {
  border-radius: 10px;
  margin: 2rem 2rem;
  height: 60vh;
  overflow: auto;
}

#recallcontainer h2 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.848);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: #f2385a;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #f5a503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: #e9f1df;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: #56d9cd;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: #3aa1bf;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

svg {
  position: relative;
  width: 100%;
  height: 20%;
}

html ::-webkit-scrollbar-thumb {
  background: #d4fc79;
  border: 1px solid #a179fc;
  border-radius: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #96e6a1;
  border: 1px solid #d4fc79;
}

/* width */
.scrollbox::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
.scrollbox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollbox::-webkit-scrollbar-thumb {
  background: #f0c27b;
  border-color: #7ba9f0;
  border-radius: 10px;
}

/* Handle on hover */
.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #4b1248;
  border: 1px solid #f0c27b;
}

/*
  MEDIA QUERIES
  0 - 600px - Mobile phones
  600 - 900px - Tablet portrait
  900 - 1200px - Tablet landscape
  1200 - 1800px - Desktop - normal styles
  1800px + Large desktop
*/
/* Mobile */
@media screen and (max-width: 600px) {
  .banner {
    font-size: 12rem;
  }
  .text {
    fill: none;
    stroke-width: 3;
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 900px) {
}

/* Normal */
@media screen and (min-width: 901px) and (max-width: 1200px) {
}

/* Lg Screen */
@media screen and (min-width: 1201px) {
}
